<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yml.chatapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".main.ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApp">
        <activity
            android:name=".ui.home.chats.message.ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.preview.PreviewImage"
            android:exported="false" />
        <activity
            android:name=".ui.home.groups.chat.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.groups.participants.ParticipantsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.chats.message.ChatMessageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.authentication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.messaging.FirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white_shade" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>